<div class="footer-container">
  <div class="footer-content-container"></div>
  <div class="footer-left">
    <h1>Contact</h1>
    <div class="footer-content">
      <img src="footerBorder.png" alt="" />
      <div class="footer-text">
        <div>
          <p>Phone Number:</p>
          <p><b>048 22 11 30 </b></p>
        </div>

        <div>
          <p>Email:</p>
          <a href="mailto:shega.marketing@protonmail.com"
            ><b>{{ "shega.marketing@protonmail.com" }}</b></a
          >
        </div>
        <div>
          <p>Instagram:</p>
          <a href="https://www.instagram.com/shegamarketing/" target="_blank"
            ><b>shegamarketing</b></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer-right"><img src="shegaFooter.png" alt="" /></div>
</div>
