<div class="about-us-container">
  <div class="about-left-container">
    <img src="dashboardBorder.png" alt="" />
    <div class="text-container">
      <h1>About Us</h1>
      <p>
        Hey there, we’re <b>SHEGA</b>
        <span class="thinSpan"> marketing,</span>
        a bunch of young, motivated people who love helping brands grow. We
        believe in building strong, lasting relationships with our clients
        through open communication and personalized strategies that truly
        connect with your audience. Our goal is to make your brand shine while
        providing a seamless, worry-free experience. With us, you're not just a
        client – <span class="thinSpan">you're a </span> <b>partner</b>. Let's
        grow together!
      </p>
    </div>
  </div>
  <div class="about-right-container">
    <img src="sheganiDefault.png" alt="" />
  </div>
</div>
<div class="bg-container">
  <img src="aboutUsBg.png" class="about-bg" alt="" />
</div>
