$colorShega:#E1264F;
$colorBackground:#FFFFFF;

html{
  scroll-behavior: smooth;
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* Set the background of the track */
}

::-webkit-scrollbar-thumb {
  background: $colorShega; /* Set the color of the scrollbar */
  border-radius: 20px; /* Add some rounding to the scrollbar */
}


@font-face {
    font-family: 'Century-Gothic';
    src: url('centurygothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Century-Gothic-Bold';
    src: url('centurygothic_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gill-Sans';
    src: url('gill-sans-ultra-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

    
 html{
  overflow-x: hidden;
 }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

  }

  body{
    font-family:'Century-Gothic',sans-serif;
    
  }

  div{
    background-color: $colorBackground;
  }

  h1{
    font-family:'Gill-Sans',sans-serif;
    color: $colorShega;
    font-size:3rem;
  }
  h2{
    font-family:'Gill-Sans',sans-serif;
    color: $colorShega;
    font-size:1.5rem;
  }
  h3{
    font-family:'Gill-Sans',sans-serif;
    color: $colorBackground;
    font-size:6.25rem;
  }

  b{
    font-family: 'Gill-Sans';
    color: $colorShega;
    font-weight: bold;
  }

  .thinSpan{
    color: $colorShega;
  }

  a{
    font-family: 'Gill-Sans';
    text-decoration: none;
    color: $colorShega;
    font-size: 1.25rem;
    
  }
  

  p{
    font-family:'Century-Gothic',sans-serif ;
    font-size: 1.25rem;
    text-align: justify;
    font-weight: 400;
  }

  @media (max-width: 36rem){
    
    p{
      font-size: 1rem;
    }
  }