<div class="service-container">
  <div class="services-top"><h1>Services</h1></div>
  <div class="services-bottom">
    <div class="bottom-left">
      <div class="s-container">
        <div class="ball"><h1>1.</h1></div>
        <div class="balls-background"></div>
        <p>Social Media Marketing & Management (SMM)</p>
      </div>

      <div class="s-container">
        <div class="ball"><h1>2.</h1></div>
        <div class="balls-background"></div>
        <p>Branding</p>
      </div>
    </div>
    <div class="bottom-right">
      <div class="s-container">
        <div class="ball"><h1>3.</h1></div>
        <div class="balls-background"></div>
        <p>Web Design and Development</p>
      </div>

      <div class="s-container">
        <div class="ball"><h1>4.</h1></div>
        <div class="balls-background"></div>
        <p>Paid Advertising</p>
      </div>
    </div>
  </div>
</div>
