$colorShega:#E1264F;
$colorBackground:#FFFFFF;

.service-container{
    margin:-50px;
    .services-top{
        h1{
        margin-left:100px;    
            &::before{
                content: "";
                position:absolute;
                width:16px;
                height:111px;
                transform: translate(-50px, -25px);
                border-radius:16px;
                background-color:$colorShega;
            }
        }
    }
  .services-bottom{
    margin-top:100px;
    display:flex;
    .bottom-left{
        display: flex;
        width:50%;
        justify-content: space-around;
    }
    .bottom-right{
        display: flex;
        width:50%;
        justify-content: space-around;
    }   
    .s-container{
        width:200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ball{
            width:200px;
            height:200px;
            border-radius:50%;
            background-color: $colorShega;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                color: $colorBackground;
            }
        }
        .balls-background{
          width:40px;
          height: 120px;
          position: absolute;
          transform: translateY(130%);
          background: radial-gradient(circle, $colorShega 50%, transparent 51%) center / 35px 35px repeat;
          animation: move-background 30s linear infinite;
          animation-play-state: paused;
        
        }
        p{
           margin-top:120px;
           text-align: center;
           font-size: 1.5rem;
        }
        &:hover{
            .balls-background{
               animation-play-state: running;
            }
        }
        
    }
   
  }  
}

@keyframes move-background {
    0% {
      background-position: center 0;
    }
    
    50% {
        background-position: center 1000%;
    }

    100% {
        background-position: center 0%;
    }
  }

  @media (max-width:36rem) {
       
   
    .services-bottom{
        transform: translateY(-100px);
        scale:0.75;
        .bottom-left{min-width: 100%; margin-bottom:30px; gap:50px;}
        .bottom-right{min-width: 100%;  gap:50px;}
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
      

        
    }
  }