.extra-container{
    margin-top:300px;
    display:flex;
    .extra-left{
        margin-right:50px;
        img{
            height:230px;
            width:15px;
        }
    }
    .extra-right{
        h1{
            margin-bottom:20px;
            translate:0px ;
        }
        p{
            font-size: 1.5rem;
        }
    }
}

@media (max-width:36rem) {
    .extra-container{
        margin-top:200px;
        margin-bottom:200px;
    }
}