

body{
    display:flex;
    justify-content:center;
    .website-container{
        width:calc(100vw - 300px);
    }
}

@media (max-width: 36rem){
    body{
        .website-container{
            width:calc(100vw - 10vw);
        }
    }
}