$colorShega:#E1264F;
$colorBackground:#FFFFFF;



.slogan-container{
    margin-top:200px;
    display: flex;
    
    .slogan-left{
        width:550px;
        height:555px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .text-container{
            width:50%;
            height:60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background:$colorShega ;
            color:white;

            h2{
                color: white;
                width:100%;
                text-align: end;
            }

            p{
                margin-bottom:30px;
            } 
        }
        img{
            transform: translate(50%, 100px);
        }
        
    }
    .slogan-right{
        width:45%;
        height:555px;
        display: flex;
        align-items: center;
        margin-left:30px;
    }
}

@media (max-width: 36rem){
    .slogan-container{
        margin-top:-250px;
        transform: translateX(-10px);
        .slogan-left{
            width: 230px;
            height:230px;
            img{
                transform: translate(55%, 110px);
                scale:0.4;
            }
            .text-container{
                width:55%;
                margin-left:-10px;
                h3{
                    display: none;
                }
                h2{ 
                    font-size:1rem;
                }
                p{  
                    margin-bottom:10px;
                    margin-top:35px;
                    text-align: start;
                }
            }
           
        }
        .slogan-right{
            height:250px;
            margin-left: 0;
            
            h1{ 
                
                font-size: 1rem;
            }
        }
    }
}
    
