<div class="dashboard-container">
  <div class="dashboard-upper">
    <div class="dashboard-upper-left">
      <img src="dashboardBorder.png" alt="" class="border" />
      <div class="text-container">
        <h1>Welcome</h1>
        <p>
          As a growing team of digital marketing, we welcome you to our website
          where you can see our services, some of our work and our contacts if
          you need any help and further discussions.
        </p>
        <p class="hello-text">
          <span class="thinSpan">...“Hello” from </span><b>SHEG</b>
        </p>
      </div>
    </div>
    <div class="dashboard-upper-right">
      <img src="sheganiWink.png" alt="" />
    </div>
  </div>
  <div
    class="dashboard-lower"
    style="background: url('repeatingShega.png'); background-size: 250%"
  ></div>
</div>
