<div
  class="overlay"
  *ngIf="showNavigationItems"
  (click)="navigationToggle()"
></div>
<div class="navigation-container">
  <div class="logo-container">
    <img src="logo.png" />
    <div class="text-container">
      <p><b>SHEGA</b></p>
      <p>marketing</p>
    </div>
  </div>
  <div class="navigation-container-2">
    <div
      class="navigation-link-container"
      [ngStyle]="showNavigationItems ? { transform: 'translateX(-200px)' } : {}"
    >
      <a (click)="scrollToElement('')">Home</a>

      <a>About Us</a>
      <a>Services</a>
      <a>Contact</a>
    </div>
    <img
      src="menuIcon.png"
      alt=""
      *ngIf="showNavigation"
      (click)="navigationToggle()"
    />
  </div>
</div>
