

.navigation-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:50px;
    padding-bottom:4000px;

    .logo-container{
        display: flex;
        align-items: center;
        img{
            width:55px;
            height:55px;
        }
        .text-container{
            padding-top: 15px;
            display:flex;
            flex-direction: column;
            justify-content: centers;
           p{
            margin-top:-6px;
           }   
        }    
    }

    .navigation-link-container{
        a{
            margin-left: 50px;
        }
    }
}